<h1>Admin::Dashboard#show</h1>
<h4> <%= link_to 'Add new Category', '/admin/categories' %></h4>

<table style="border: 1px solid black">
  <tr>
    <td style="border: 1px solid black">Number of products:</td>
    <td style="border: 1px solid black">Number of categories:</td>
  </tr>
  <tr>
    <td style="border: 1px solid black"><%= @product %></td>
    <td style="border: 1px solid black"><%= @categories %></td>
  </tr>
</table>


