<h1>Admin::Dashboard#show</h1>

<table style="border: 1px solid black">
  <tr>
    <td style="border: 1px solid black">Number of products:</td>
    <td style="border: 1px solid black">Number of categories:</td>
  </tr>
  <tr>
    <td style="border: 1px solid black"><%= @product %></td>
    <td style="border: 1px solid black"><%= @categories %></td>
  </tr>
</table>


